@import "./../../../variables.scss";

.headerImage {
  width: 25%;
  // height: "2%";
}
.image {
  object-fit: contain;
}
.headerContainer {
  /* margin-top: 2%; */
  margin: 2% 5% 0% 6%;
  /* margin-bottom: 2%; */
  padding: 1%;
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 99;
}
.headerRow {
  display: flex !important;
  // flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

.headerLinks {
  display: flex;
  // border: 1px solid black;
  width: 300px;
  justify-content: space-around;
}

.linkColors {
  color: $color;
}

@media screen and (max-width: 600px) {
  .headerContainer {
    margin: 2% 0% 0% 0%;
    padding: 3%;
  }
}
