.mainContainer {
  // width: 150px;
  // height: 150px;
  height: 40%;
  background-color: #bee4fc;
  // margin-top: 4%;
  border-radius: 15px;
}

.cardImage {
  // width: 125px;
  margin: auto;
}

.image {
  width: 100%;
}

@media (min-width: 769px) {
  .mainContainer {
    // width: 15% !important;
    margin: 0.4%;
    width: 15.8% !important;
  }
}

@media (max-width: 520px) {
  .mainContainer {
    margin: 3% -0.5% 3% 3.5%;
    width: 45% !important;
  }
}

@media (width: 768px) {
  .cardImage {
    width: 80%;
    margin: auto;
  }

  .mainContainer {
    background-color: #bee4fc;
    border-radius: 15px;
    margin: 1.15%;
    width: 31% !important;
    height: 159px;
  }
}

.buttonHome {
  background-color: white;
  border-color: darkblue;
  border-radius: 20px;
  // padding: 1%;
  width: 150px;
  height: 40px;
}

.cardContent {
  font-size: 20px;
  padding: 15px;
}

@media (width: 768px) {
  .cardContent {
    font-size: 20px;
    padding: 0px;
  }
}
