@import "../../../variables.scss";

$heroColor: #bee4fc;

.containers {
  background-color: $heroColor;
  width: 99% !important;
  max-width: 99% !important;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2%;
  height: 405px;
  border-radius: 30px;
}

.contentContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  align-items: center;
}
.heroContent {
  background-color: $heroColor;
  height: 300px;
  border-radius: 30px;
}

.sideContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px !important;
}
.smallText {
  color: $color;
  word-wrap: break-word;
}

.heroButton {
  background-color: #200058;
  border-color: #200058;
  border-radius: 30px;
  padding: 2px;
}

.btntext {
  color: $heroColor;
}

.img {
  width: 100%;
  // border: 1px solid black;
}

.imgContainer {
  // width: 600px;
  display: flex;
  justify-content: start;
  align-items: end;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .img {
    width: 140%;
    // border: 1px solid black;
    // margin-top: 10%;
  }
  .imgContainer {
    justify-content: end;
  }
}

@media (width: 768px) {
  .img {
    width: 160%;
    // border: 1px solid black;
    // margin-top: 10%;
  }
  .imgContainer {
    margin-left: -75px;
  }
}

@media (width: 2560px) {
  .img {
    width: 61%;
  }
}
